* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0f0f13;
  color: #333;
  margin: 20px;
}

html[data-theme="light"] body {
  background: linear-gradient(to bottom right, #b8bfd4, #c2c9de, #bcc4d8);
  color: #1e2640;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
  border-radius: 11px !important;
  overflow-x: hidden;
}

