.education-page {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 1rem;
  margin: var(--spacing-sub-page);
  padding: clamp(1.5rem, 2.5vw, 3rem);
  transition:
    background-color 300ms ease,
    border-color 300ms ease;
}

.education-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  margin-bottom: 64px;
}

.icon-grad {
  width: 48px;
  height: 48px;
  border-radius: 15px;
  border: 1px solid rgb(107 158 255 / 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6B9EFF;
  background-color: rgba(107, 158, 255, 0.1);
}

.education-title {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.education-title-first {
  font-size: 36px;
  color: #ffff;
  font-family: 'Syne', sans-serif;
}

.education-title-last {
  font-size: 16px;
  color: oklab(0.999994 0.0000455678 0.0000200868 / 0.4);
}

.education-card-section {
  width: 100%;

}

.education-card-label {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}

.education-card-label h2 {
  font-family: 'Syne', sans-serif;
  font-size: 12px;
  color: oklab(0.999994 0.0000455678 0.0000200868 / 0.3);
  text-transform: uppercase;
}

.education-card {
  width: 100%;
  border-radius: 15px;
  background-color: ;
}

/*Hover Transitions*/

/*Theme Transitions*/

.education-page.light {
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.2),
    0 8px 10px -6px rgba(0, 0, 0, 0.2);
  transition:
    background-color 300ms ease,
    border-color 300ms ease;
  background-color: rgb(221 226 240 / 0.8);
}
